body{
    font-family: sans-serif;
    background-color:black;
}

#calculator{
    width: 320px;
    height:520px;
    background-color: #eaedef;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#result{
    height: 120px;
}
#keyboard{
    height: 400px;
}